<h2>All Item</h2>

<% unless @items.empty? %>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Rating</th>
        <th scope="col">Image</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <% @items.each do |item| %>

      <!--   <li><%= link_to item.name, "/items/#{item.id}" %></li>
    Или вариант ниже
 -->
      <tbody>
        <tr>
          <th scope="col"><%= item.id %></ths>
          <th scope="col"><%= link_to item.name.camelize, item_path(item), class: "text-info" %></th>
          <th scope="col"><%= item.price %></th>
          <th scope="col"><%= item.desc %></th>
          <th scope="col"><%= item.votes_count %> &nbsp; <%= link_to "+", upvote_item_path(item), class: "text-info" %></th>
          <th scope="col"><%= !item.image.nil? ? image_tag(item.image.file, width: '30px', height: '30px') : 'no img' %></th>
          <th scope="col"><%= button_to "delete", item_path(item), method: :delete %></th>
        </tr>
      </tbody>
    <% end %>
  </table>

  <br/>
  <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <%= button_to 'create item', new_item_path,
                    method: :get,
                    class: "btn btn-secondary",
                    style: "margin-right: 15px"%>
      <%= button_to 'only expensive', expensive_items_path,
                    method: :get,
                    class: "btn btn-secondary",
                    style: "margin-right: 15px"%>
      <%= button_to 'index', items_path,
                    method: :get,
                    class: "btn btn-secondary",
                    style: "margin-right: 15px"%>
      <%= button_to 'admin panel', admin_users_count_path,
                    method: :get,
                    class: "btn btn-secondary",
                    style: "margin-right: 15px"%>
    </div>
  </div>
<% else %>
  <h2 style="color: #B00100; margin: 0 auto">No Item</h2>
  <%= button_to 'new item', new_item_path, method: :get %>
<% end %>

<%= render :partial => "shared/email" %>