<h2>All Item</h2>

<% unless @items.empty? %>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Delete</th>
    </tr>
    <% @items.sort.each do |item| %>

      <!--   <li><%= link_to item.name, "/items/#{item.id}" %></li>
    Или вариант ниже
 -->
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.price %></td>
        <td><%= "img" if item.desc %></td>
        <td><%= item.votes_count %>, <%= link_to "+", upvote_item_path(item) %></td>
        <td><%= button_to "delete", item_path(item), method: :delete %></td>
      </tr>
    <% end %>
  </table>

  <br/>
  <%= button_to 'new item', new_item_path, method: :get %>
  <%= button_to 'expensive', expensive_items_path, method: :get %>
  <%= button_to 'index', items_path, method: :get %>
<% else %>
  <h2>No Item</h2>
  <%= button_to 'new item', new_item_path, method: :get %>
<% end %>

<%= render :partial => "shared/email" %>