<div class="col-sm-12 my-auto">
  <h2>Create new Item</h2>

  <%= simple_form_for @item do |f| %>
    <%= f.input :name, label: 'Name', input_html: { class: "form-text" } %>
    <%= f.input :price, label: 'Price', input_html: { class: "form-text" }, required: true %>
    <%= f.input :desc, label: 'Desc', input_html: { class: "form-text" } %>
    <%= f.button :submit, class: "btn btn-large btn-primary" %>
  <% end %>

  <%= render partial: "shared/email" %>
</div>