<!DOCTYPE html>
<html>
  <head>
    <title>RailsCourse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2 style="color: #B00100">Admin panel</h2>
    <%= yield %>
  </body>

  <footer>
    <p>Здесь футер... По всем вопросам писать на почту...</p>
  </footer>

</html>
